<div id="main-page" class="position-relative h-105">
  <div class="bg-image position-relative display-none"></div>
  <div
    class="img-text text-wh fs-5 position-absolute top-60 start-20 translate-middle"
  >
    <h1 class="display-4 fw-bold"><%= heroContent.dynamicHeading %></h1>
    <p><%= heroContent.dynamicParagraph %></p>
  </div>
  <%- include('product-cards') %>
</div>
