<div
  id="top"
  class="bg-top px-6 d-flex justify-content-xL-between align-items-center sticky-top"
>
  <a href="#" class="fw-bold fs-6 text-dark">Shop Click & Collect now</a>
  <i class="bi bi-x fs-2" id="btn1"></i>
</div>
<div
  id="store-locator"
  class="display-flex px-6 justify-content-xL-between text-decoration-none align-items-center"
>
  <div class="display-flex">
    <a href="#" class="text-dark text-decoration-none">
      <i class="bi bi-geo-alt px-1"></i>
      Store Locate
    </a>
  </div>
  <div id="links" class="py-2">
    <a href="/" class="text-dark text-decoration-none px-2"
      >Corporate Website</a
    >
    <a href="#" class="text-dark text-decoration-none px-2"
      >Love it for Longer</a
    >
    <a href="#" class="text-dark text-decoration-none px-2">Inspiration</a>
    <a href="#" class="text-dark text-decoration-none px-2">Email Signup</a>
    <a href="#" class="text-dark text-decoration-none px-2">#Primania</a>
    <a href="#" class="text-dark text-decoration-none px-2">Gift Card</a>
  </div>
</div>
<div
  id="logo"
  class="px-7 py-3 d-flex align-items-center justify-content-end gap-15 bg-white shadow-bottom"
>
  <a href="#" class="position-absolute start-0 px-5"
    ><i class="bi bi-list fs-3 text-dark d-large-none" id="ham"></i
  ></a>
  <a href="#" class="img-small"
    ><img src="/images/Primark_logo24.avif" alt="" class="img-fluid"
  /></a>
  <div id="logo-icons " class="d-flex align-items-center">
    <a
      href="search"
      class="text-decoration-none text-dark display-flex align-items-center text-muted py-1 border-dark border-2 border-bottom px-4"
      ><i class="bi bi-search fs-4 me-2 icon"></i>
      <p class="d-flex mb-2">Search</p></a
    >
    <a href="/user/my-cart" id="heart" class="px-2 py-1"
      ><i class="bi bi-heart fs-5 text-dark"></i
    ></a>
    <a href="/user/order-history" id="user" class="px-2 py-1">
      <i class="bi bi-person fs-4 text-dark"></i
    ></a>
    <a href="/user/checkout" id="bag" class="px-2 py-1"
      ><i class="bi bi-bag fs-5 text-dark"></i
    ></a>
  </div>
</div>
<div id="menu" class="display-flex justify-content-center gap-5 h-5">
  <a
    href="https://primark-production.up.railway.app/main"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">HOMEPAGE</p></a
  >
  <a
    href="https://primark-production.up.railway.app/women"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">WOMEN</p></a
  >
  <a
    href="https://primark-production.up.railway.app/clickandcollect"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">CLICK AND COLLECT</p>
  </a>
  <a
    href="https://primark-production.up.railway.app/men"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">MEN</p></a
  >
  <a
    href="https://primark-production.up.railway.app/kids"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">KIDS</p></a
  >
  <a
    href="https://primark-production.up.railway.app/baby"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">BABY</p></a
  >
  <a
    href="https://primark-production.up.railway.app/home"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">HOME</p></a
  >
  <a
    href="https://primark-production.up.railway.app/#"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">COLLABS</p></a
  >
  <a
    href="https://primark-production.up.railway.app/#"
    class="text-decoration-none text-dark menu-link"
    ><p class="mb-0">BEAUTY</p></a
  >
</div>
