
 
      <%- include('partials/hero-area') %>

    <div class="text-center fs-3 d-flex justify-content-center gap-7 mt-10" >
            <a href="#"><i class="fa-brands fa-pinterest " style="color: #000000;" ></i></a>
            <a href="#"><i class="fa-brands fa-facebook" style="color: black;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-youtube" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></a>
    </div>


    <div class="d-flex flex-small-column px-5 gap-9 mt-5 position-relative mb-5 h-30">
        <div class="d-flex flex-small-column gap-5 ">

            <div >
                <h4 class="fs-6 fw-normal mb-6 b-top py-3 position-relative">GET HELP<i class="fa-solid fa-angle-down d-small position-absolute end-0 " style="color: #000000;"></i></h4>
                <a href="#" class="text-decoration-none text-dark display-none-sm"><p>Help Centre</p></a>
                <a href="#" class="text-decoration-none text-dark display-none-sm"><p>Speak Up - Colleagues</p></a>
                <a href="#" class="text-decoration-none text-dark display-none-sm"><p>Tell Us - Supply Chain Workers & Third Parties</p></a>
                
            </div>
            <div class="info" class="mb-5">
                <h4 class="fs-6 fw-normal mb-6 b-top  py-3 position-relative">USEFUL INFORMATION <i class="fa-solid fa-angle-down d-small position-absolute end-0 " style="color: #000000;"></i></h4>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Terms of Use</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>C+C Terms</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Primania Gallery Terms</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Privacy Notice</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Cookie Policy</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Declaration of Conformity</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Franchise Scam</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>COVID-19 FAQs</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Recycle Your Electricals</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>CCTV and Bodycams Notice</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Tell Primark Survey</p></a>
                <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Sitemap</p></a>
            </div>
        </div>
    
        <div class="d-flex flex-small-column ">
            <div class="inside px-1">
                <h4 class="fs-6 fw-normal mb-6 b-top py-3 position-relative">INSIDE PRIMARK<i class="fa-solid fa-angle-down d-small position-absolute end-0 " style="color: #000000;"></i></h4>
            <a href="#"class="text-decoration-none text-dark display-none-sm" ><p>About Us</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Careers at Primark</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Suppliers</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>UK Gender Pay Report</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Modern Slavery Act</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Cruelty Free Internation</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Section 172 and Corporate Governance Statement</p></a>
        </div>
        
        <div class="corporate">
            <h4 class="fs-6 fw-normal mb-6 b-top py-3 position-relative">CORPORATE <i class="fa-solid fa-angle-down d-small position-absolute end-0  " style="color: #000000;"></i></h4>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>About Us</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Ethnic & Sustainability</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Ethnic & Sustainability Report 2023</p></a>
            <a href="#"class="text-decoration-none text-dark display-none-sm"><p>Newsroom</p></a>
        </div>
        </div>
        <button class="d-flex align-items-center justify-content-center  py-2 border-1 border-mute bg-white gap-2 position-absolute position-bm bottom-50 w-15 " id="lan"><img src="/images/United Kingdom.jpeg" alt="" class="img-sm ">United Kingdom, £ <i class="fa-solid fa-caret-down" style="color: #000000;"></i></button>
    </div>
    <div class="text-center bg-dark text-light py-2"> <p class="m-0"> 2024 &copy; Primark Limited </p> </div>
    <button class=" d-flex align-items-center gap-3  position-fixed end-0 bottom-0 me-2 py-2 px-3 rounded-top fs-10 bg-blue border border-1 border-dark" >
        <i class="fa-solid fa-comment-dots fs-5" style="color: #000000;"></i>
        Chat With Us
    </button>
    
    <div  class="w-100 h-100 d-flex flex-column justify-content-center align-items-center overlay" id="ad">
    <div class="d-flex flex-column justify-content-center align-items-center bg-top h-75  border rounded gap-5 p-5 position-relative">
       <button id="AdCancel"  href="" class="position-absolute top-0 end-0 p-2 bg-white border-0">
           <i class="fa-solid fa-xmark " style="color: #000000;"></i>
       </button> 
        <h2>Primark</h2>
        <a href="#" class="text-dark text-decoration-none">
            <h1>CLICK &</h1>
            <h1>COLLECT</h1>
        </a>
        <h4>Coming soon to a store near you</h4>
        <a href="SignUp.ejs" class="text-decoration-none bg-dark p-3 px-5 text-center rounded-pill" >
            <p class="text-light p-0 m-0">Join Now By Signing Up</p>
        </a>
        <p>Minimum Order £10</p>
    </div>
   </div> 

<div class=" dropdown-container " id="drop">
   <div class="d-flex flex-column gap-4  w-40 bg-white pe-5 scroll" >
    <div id="d-head" class="d-flex align-items-center px-3">
    <a href="#" id="drop-cancel"> <i class="bi bi-x fs-1" style="color: #000000;" ></i></a>
    <div class="d-flex align-items-center gap-2 ">
        <img src="/images/Primark_logo24.avif" class="h-10">
        <div class="d-flex ">
            <a href="#" id="heart" class="px-2 py-1"><i class="bi bi-heart  fs-5 text-dark " ></i></a>
            <a href="login.ejs" id="user" class="px-2 py-1"> <i class="bi bi-person fs-4 text-dark"></i></a>
            <a href="checkout.ejs" id="bag" class="px-2 py-1"><i class="bi bi-bag  fs-5 text-dark"></i></a>  
        </div>
    </div>
</div>
    <div id="d-middle" class="d-flex flex-column " >
        <div class="d-flex align-items-center position-relative gap-3 ps-2"  >
            <img src="/images/dp-women.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
                <p class="m-0 fw-bold" >WOMEN</p>
                <i class="fa-solid fa-angle-right position-absolute end-0" style="color: #000000;"></i>
            </div>
            </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2 ">
            <img src="/images/dp-cl.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center">
            <p class="m-0 fw-bold">CLICK & COLLECT</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-men.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center">
            <p class="m-0 fw-bold">MEN</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-minors.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center">
            <p class="m-0 fw-bold">KIDS</p>
            <i class="fa-solid fa-angle-right  position-absolute end-0" style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-babie.avif" alt=""class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
            <p class="m-0 fw-bold">BABY</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-ghost.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
            <p class="m-0 fw-bold">HALLOWEEN</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-home.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
            <p class="m-0 fw-bold">HOME</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
        </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-collabs.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
            <p class="m-0 fw-bold">COLLABS</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
            </div>
        </div>
        <div class="d-flex align-items-center position-relative gap-3 ps-2">
            <img src="/images/dp-beauty.avif" alt="" class="img-pfp rounded-circle ">
            <div class="d-flex align-items-center ">
            <p class="m-0 fw-bold">BEAUTY</p>
            <i class="fa-solid fa-angle-right position-absolute end-0 " style="color: #000000;"></i>
            </div>
        </div>    
    <div id="d-bottom" class="d-flex flex-column w-40 gap-4 ps-3 py-3 border-top border-dark ">
        <div class="d-flex align-items-center gap-4">
            <i class="fa-regular fa-user fs-3 pe-2" style="color: #000000;"></i>
            <p class="m-0 ">Account</p>
        </div>
        <div class="d-flex align-items-center gap-4" >
            <i class="fa-solid fa-location-dot fs-3 pe-2" style="color: #000000;"></i>
            <p class="m-0">Store Locator</p>
        </div>
        <div class="d-flex align-items-center gap-4" >
            <i class="fa-regular fa-heart fs-3 " style="color: #000000;"></i>
            <p class="m-0">Corporate Website</p>
        </div> 
        <div class="d-flex align-items-center gap-4">
            <i class="fa-regular fa-circle-dot fs-3 pe-1" style="color: #000000;"></i>
            <p class="m-0">Love it for Longer </p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <i class="fa-solid fa-pen-nib fs-3 pe-1" style="color: #000000;"></i>
            <p class="m-0">Inspiration</p>
        </div>
        <div class="d-flex align-items-center gap-4">
            <i class="fa-solid fa-scroll fs-3" style="color: #000000;"></i>
            <p class="m-0">Email Signup</p>
        </div>
        <div class="d-flex align-items-center gap-4">
          <i class="fa-regular fa-credit-card fa-rotate-by fs-3" style="color: #000000; --fa-rotate-angle: -20deg;"></i>
          <p class="m-0">Gift Card</p>
      </div>
        <div class="d-flex align-items-center gap-4">
            <i class="fa-solid fa-hashtag fs-3 pe-1" style="color: #000000;"></i>
            <p class="m-0">#Primania</p>
        </div>
       
    </div>
   </div>
   </div>
</div>

<div class="dropdown-right" id="lan-dp">
    <div class="container px-6 py-4 w-45 position-absolute end-0 top-0 bg-white">
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="text-dark position-absolute end-0">
          <i class="bi bi-x fs-1" id="lan-cancel"></i>
        </a>
      </div>
      <h1 class="align-left mb-4">Change Region</h1>
      <p class="mb-4">
        Changing the country/region that you shop from may affect factors including price, delivery options, language preferences, and product availability.
      </p>
  
      <ul class="list-unstyled d-flex flex-column gap-3">
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/uk.png" alt="UK Flag" class="me-2 img-xsm"> United Kingdom, £
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/austria.png" alt="Austria Flag" class="me-2 img-xsm"> Österreic, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/belgium.jpg" alt="Belgium Flag" class="me-2 img-xsm"> Belgique / Français, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/belgium.jpg" alt="Belgium Flag" class="me-2 img-xsm"> België / Nederlands, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/czech.png" alt="Czech Flag" class="me-2 img-xsm"> Česká Republika, Kč
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/germany.png" alt="Germany Flag" class="me-2 img-xsm"> Deutschland, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/spain.png" alt="Spain Flag" class="me-2 img-xsm"> España, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/france.png" alt="France Flag" class="me-2 img-xsm"> France, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/ireland.png" alt="Ireland Flag" class="me-2 img-xsm"> Ireland, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/italy.png" alt="Italy Flag" class="me-2 img-xsm"> Italia, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/netherland.png" alt="Netherlands Flag" class="me-2 img-xsm"> Nederland, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/poland.png" alt="Poland Flag" class="me-2 img-xsm"> Polska, zł
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/portugal.png" alt="Portugal Flag" class="me-2 img-xsm"> Portugal, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/romania.png" alt="Romania Flag" class="me-2 img-xsm"> România, LEI
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/slovenia.png" alt="Slovenia Flag" class="me-2 img-xsm"> Slovenija, €
          </a>
        </li>
        <li class="d-flex align-items-center mb-2">
          <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
            <img src="/images/usa.png" alt="USA Flag" class="me-2 img-xsm"> United States, $
          </a>
        </li>
      </ul>
    </div>
  </div>
  